.input-group {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-bottom: 12px;
  align-items: center;
}

.input-group > * {
  height: 40px;
}

.input-group input,
.input-group select {
  font-size: 16px;
  line-height: 40px;
  flex-grow: 1;
  background-color: #f8f8f8;
  border: none;
  border-radius: 5px;
  box-shadow: var(--small-shadow);
  padding: 0.5rem 0.5rem;
}

.input-icon {
  color: #3a3a3a;
  width: 35px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  /* text-align: center; */
}

.input-group button {
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

button {
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #d9d9d9;
  cursor: pointer;
}

.icon-button i {
  margin-right: 10px;
}
